# MQTT Settings
mqtt:
  broker: 192.168.1.102
  port: 1884
  username: xxxx
  password: xxxx
  qos: 2
  retain: true
  topic_prefix: rgbw2mqtt
  availability_topic: rgbw/available
  discovery: true
  discovery_prefix: homeassistant

# RGBW
lights:
  - name: Kitchen Strip Light
    output_channel_topics:
      red: 'dynalite/a1c1/set'
      green: 'dynalite/a1c2/set'
      blue: 'dynalite/a1c3/set'
      white: 'dynalite/a1c4/set'
      power: 'dynalite/a1c5/set'
  - name: Bedroom Strip Light
    output_channel_topics:
      red: 'dynalite/a2c1/set'
      green: 'dynalite/a2c2/set'
      blue: 'dynalite/a2c3/set'
      white: 'dynalite/a2c4/set'
      power: 'dynalite/a2c5/set'
